.todo-wrapper {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    background-color: #F7F7F7;
    place-items: center;
    padding: 10px 20px;
    width: 400px;
}

.task-title {
    cursor: pointer;
}

.is-todo-completed {
    text-decoration: line-through;
}